[credential]
	helper = store
[user]
	name = Thomas Versteeg
	email = t.versteeg@cemsbv.io
[core]
	pager = delta --dark
[pull]
	rebase = false
[delta]
	line-numbers = true
	side-by-side = true
	navigate = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	touch = !"f() { touch $@ && git add $@; }; f"
[init]
	defaultBranch = main
