[credential]
	helper = store
[user]
	name = Thomas Versteeg
	email = t@versteeg.email
[help]
	autocorrect = 15
[color]
	ui = 1
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = false
[diff]
	colorMoved = default
[delta]
	features = side-by-side line-numbers
	syntax-theme = Monokai Extended Light
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	touch = !"f() { touch $@ && git add $@; }; f"
[init]
	defaultBranch = main
[trim]
	bases = dev,develop,master,main
