[user]
	name = Thomas Versteeg
	email = thomasversteeg@gmx.com
[color]
	ui = auto
[core]
	autocrlf = input
[branch]
	mergeoptions = --no-commit --no-ff
[credential]
	helper = cache
[alias]
	hist = log --pretty=format:\"%w(80)%Cred%h %C(yellow)%ad%x08%x08%x08%x08%x08%x08%x08%x08%x08 %Cgreen%an%Creset%C(cyan)%d%n%m %s%n\" --graph --date=iso
