[user]
	name = Thomas Versteeg
	email = thomasversteeg@gmx.com
[color]
	ui = auto
[core]
	autocrlf = input
[branch]
	mergeoptions = --no-commit --no-ff
[credential]
	helper = cache --timeout=2628000
[alias]
	hist = log --pretty=format:\"%Cred%h%Creset %ad%x08%x08%x08%x08%x08%x08%x08%x08%x08 %Cgreen%an%Creset %s%C(cyan)%d%Creset\" --graph --date=iso --abbrev-commit
