input {
    tablet {
        map-to-output "eDP-1"
    }

    keyboard {
        repeat-delay 500
        repeat-rate 25
    }

    disable-power-key-handling
}

// /-output "DP-2" {
//     position x=0 y=0
// }

// /-output "HDMI-A-1" {
//     off
    
//     position x=3840 y=0
// }

layout {
    focus-ring {
        width 3
        active-gradient from="#3777E6" to="#AD00A1" angle=90
    }

    border {
        width 3
        active-gradient from="#3777E6" to="#AD00A1" angle=90
        inactive-color 80 80 80 255
    }

    preset-column-widths {
        proportion 0.333
        proportion 0.5
        proportion 0.667
    }

    default-column-width { proportion 0.333; }

    center-focused-column "on-overflow"

    gaps 6

    struts {
        left 32
        right 32
        top 3
        bottom 3
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-open {
        duration-ms 200
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}

// Lower opacity for non-active windows
window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    match title="Floorp"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="waybar"
    block-out-from "screencast"
}

window-rule {
    match app-id="org.keepassxc.KeePassXC"
    block-out-from "screencast"
}

window-rule {
    match app-id="rhythmbox"
    block-out-from "screencast"
}

binds {
    Mod+Return { spawn "alacritty" "-e" "bash" "/home/thomas/.dotfiles/start-zellij-session.sh"; }
    Mod+Shift+Return { spawn "alacritty" "-e" "waypipe" "ssh" "-t" "-Y" "cems.lan" "bash" "/home/thomas/.dotfiles/start-zellij-session.sh"; }
    Mod+D { spawn "fuzzel"; }
    Mod+Alt+L { spawn "swaylock"; }
    Mod+Shift+Q { close-window; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+Ctrl+H     { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-window-to-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }

    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+U         { move-window-to-workspace-down; }
    Mod+Ctrl+I         { move-window-to-workspace-up; }
    Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-window-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-window-to-workspace 1; }
    Mod+Ctrl+2 { move-window-to-workspace 2; }
    Mod+Ctrl+3 { move-window-to-workspace 3; }
    Mod+Ctrl+4 { move-window-to-workspace 4; }
    Mod+Ctrl+5 { move-window-to-workspace 5; }
    Mod+Ctrl+6 { move-window-to-workspace 6; }
    Mod+Ctrl+7 { move-window-to-workspace 7; }
    Mod+Ctrl+8 { move-window-to-workspace 8; }
    Mod+Ctrl+9 { move-window-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+Ctrl+T { toggle-debug-tint; }
}

spawn-at-startup "keepassxc"
spawn-at-startup "playerctld" "daemon"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "transmission-gtk" "-m"
spawn-at-startup "dunst"

