@import "/home/thomas/.dotfiles/waybar-colors.css";

* {
  font-family: "FiraCode Nerd Font Mono";
  font-size: {{waybar-size}}px;

  border: none;
  border-radius: 0;
}

window {
  min-height: {{waybar-size}}px;
}

window#waybar {
  background: @base00;
  color: @base04;
  border-bottom: 3px solid @base01;
}

window .modules-right {
  padding-left: 5px;
}

tooltip {
  background: @base00;
}

tooltip label {
  color: @base04;
}

#taskbar button {
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button.focused {
  border-bottom: 4px solid @base08;
}

#workspaces button.urgent {
  background: @base08;
}

#mode, #mpris, #wireplumber, #network, #cpu, #memory, #disk, #clock {
  margin: 0px 8px;
  min-width: 25px;
}

#clock {
  font-weight: bold;
}

#tray > .needs-attention {
  border-bottom: 4px solid @base08;
}
