layout {
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane split_direction="Vertical" {
			children

            pane command="bash" name="CLI" size="40%" borderless=true {
                args "-c" "cemsdev run dev ; exec bash"
            }
        }

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
	}

	tab cwd="/home/thomas/w/nuclei-web" name="Web" focus=true {
		pane command="bash" focus=true {
			args "-c" "cd /home/thomas/w/nuclei-web && nvim"
		}
	}
	tab cwd="/home/thomas/w/nuclei-lib" name="Lib" {
		pane command="bash" focus=true {
			args "-c" "cd /home/thomas/w/nuclei-lib && nvim"
		}
	}
	tab cwd="/home/thomas/w/nuclei-web-back" name="Back" {
		pane command="bash" focus=true {
			args "-c" "cd /home/thomas/w/nuclei-web-back && nvim"
		}
	}
}

session_name "nuclei-web"
attach_to_session true
