layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab borderless=true
    tab split_direction="Vertical" borderless=true {
        pane split_direction="Vertical" borderless=true {
            pane command="bash" name="run" size="50%" {
                args "-c" "cd ~/r/rockysmithereens/ && cargo watch -x run"
            }
            pane command="bash" name="cli" size="50%" {
                args "-c" "cd ~/r/rockysmithereens/ && exec bash"
            }
        }
    }
}
session_name "rockysmithereens"
attach_to_session true