layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab split_direction="Vertical" borderless=true {
        pane split_direction="Vertical" {
            pane command="bash" name="cemsdev run dev" size="50%" borderless=true{
                args "-c" "cd ~/w/vibracore-sbr-web && cemsdev run dev"
            }
            pane command="bash" name="cli" size="50%" borderless=true {
                args "-c" "cd ~/w/vibracore-sbr-web && exec bash"
            }
        }
    }
}
session_name "vibracore"
attach_to_session true

