#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Helix
Comment=Helix Text Editor
Exec=env HELIX_RUNTIME=/home/thomas/r/helix/runtime /home/thomas/.cargo/bin/hx -c /home/thomas/.config/helix/config.toml %F
Terminal=true
Type=Application
Icon=/home/thomas/r/helix/contrib/helix.png
Categories=Utility;TextEditor;
Keywords=Text;Editor;Plaintext;Write;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
